<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="3af883b8-c069-4c28-a468-3342416994d0"
    Publisher="CN=BUILDLet, O=BUILDLet, C=JP"
    Version="1.1.1.0" />

  <Properties>
    <DisplayName>BUILDLet JBIG Image Viewer</DisplayName>
    <PublisherDisplayName>BUILDLet</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="BUILDLet JBIG Image Viewer"
        Description="BUILDLet JBIG and other kind of Image Viewer App"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png"  BackgroundColor="white"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="com.BUILDLet.JbigImageViewerService"/>
        </uap:Extension>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="BUILDLet.JbigImageReader\BUILDLet.JbigImageReader.exe">
          <desktop:FullTrustProcess>
            <desktop:ParameterGroup GroupId="On" Parameters="On"/>
            <desktop:ParameterGroup GroupId="Off" Parameters="Off"/>
          </desktop:FullTrustProcess>
        </desktop:Extension>
    </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="picturesLibrary"/>
  </Capabilities>
</Package>
