<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="c2ce00fc-2178-49e5-a320-d2df785007dc"
    Publisher="CN=BUILDLet, O=BUILDLet, C=JP"
    Version="1.1.1.0" />

  <mp:PhoneIdentity PhoneProductId="c2ce00fc-2178-49e5-a320-d2df785007dc" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>BUILDLet JBIG Image Viewer</DisplayName>
    <PublisherDisplayName>BUILDLet</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BUILDLet.JbigImageViewer.App">
      <uap:VisualElements
        DisplayName="BUILDLet JBIG Image Viewer"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="BUILDLet JBIG and other kind of Image Viewer App"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="white"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <uap:Capability Name="picturesLibrary"/>
  </Capabilities>
</Package>